<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" href="../css/application.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
// Manage session variables
//var userEmail ="";
//var siteName="";
//siteName="tdenglos.com";
//var uploadUrl="";
//uploadUrl="http://localhost:8080/ws/upload?email="+userEmail+"&website="+siteName;

function getCookie(name) {
    var value = "; " + document.cookie;
    var parts = value.split("; " + name + "=");
    if (parts.length == 2) return parts.pop().split(";").shift();
}

var seaSurf = getCookie('XSRF-TOKEN');
//var token = getCookie('JSESSIONID');
//alert(seaSurf);


</script>

</head>



<body ng-app="app" ng-controller="websiteController">



<script>
angular
	.module("app", [])
			
			.config(
				
				function($httpProvider) {
					//$httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
					$httpProvider.defaults.headers.common['X-XSRF-TOKEN'] = seaSurf;
				}
			)
	       

	       .directive('ngFiles', ['$parse', function ($parse) {

		            function fn_link(scope, element, attrs) {
		                var onChange = $parse(attrs.ngFiles);
		                element.on('change', function (event) {
		                    onChange(scope, { $files: event.target.files });
		                });
		            };

		            return {
		                link: fn_link
		            }
	        } ])


			.controller('websiteController', function($scope, $http){


					var userGoogleId="";
					var userEmail ="User email";
					$scope.myWebsites = {};
					var userFirstWebsite = 0;
					var userName = "Name";
					var userSurname = "Surname";
					var userId = "User FlamZ account number";
					var userPictureUrl = "";

					$scope.updateVariables = function() {

						$scope.userEmail = userEmail;
						$scope.userName = userName;
						$scope.userSurname = userSurname;
						$scope.userId = userId;
						$scope.userGoogleId = userGoogleId;
						$scope.userPictureUrl = userPictureUrl;
					};
					$scope.updateVariables();



					// Update user email then get user's list of websites  once the user email is built



					$scope.addAccount = function () {

			            var data = $.param({
			                //googleid: $scope.userGoogleId
			            });	        
			            var config = {
			                headers : {
			                    'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'
			                }
			            };
			            $http.post('http://localhost:8080/ws/addaccount', data, config)
				            .success(function (data) {
				            }).error(
				            	function (data, status, header, config) {
				            	}
				            )
			            ;
		        	};					


					$scope.updateUserGoogleId = function () {
						return $http.get("/user").success(function(data) {
						if (data.googleid) {
							userGoogleId = data.googleid;
							userId = data.id;
							$scope.userGoogleId = userGoogleId;
							$scope.updateVariables();
						} else {
						}
						}).error(function() {
						});
					};


					$scope.getUserWebsites = function () {
						var url = 'http://localhost:8080/ws/website'
						//	+'?'
						//	+ 'googleid=' + userGoogleId ;
			            return $http({
					  		method: 'GET',
						  	url: url  
						}).then(function successCallback(response) {
						    $scope.myWebsites = response.data.listOfWebsites;
					  	}, function errorCallback(response) {
					  	});
					};	


					$scope.userHasWebsites = function () {
						var  hasWebsites =  ($scope.myWebsites.length > 0) ;
						return hasWebsites ;
					};						


					$scope.userFirstWebsite = function () {
						if ($scope.userHasWebsites()){
							$scope.selectedWebsite = $scope.myWebsites[$scope.myWebsites.length-1]['id'];
							//alert(userFirstWebsite);
						}
						
					};	


					$scope.updateUserGoogleId().then(function(result) {
			             //$scope.addAccount();
			             $scope.getUserWebsites().then(function(result){
			            	$scope.userFirstWebsite();
			            });
					});
					

		        	// Clear all response fields

		        	$scope.clearResponses = function () {
						$scope.addWebsitePostDataResponse = "";
						$scope.addWebsitePostDataResponseDetails = "";
						$scope.deleteWebsitePostDataResponse = "";
						$scope.deleteWebsitePostDataResponseDetails = "";
						$scope.uploadTagPlanPostDataResponse = "";
		        		$scope.uploadTagPlanPostDataResponseDetails = "";
		        		$scope.datalayerGetDataResponse = "";
		        	};
		        	$scope.clearResponses();

		            	            
		            // Generate form data when upload file is selected by user
		            
		            var formdata = new FormData();
		            //var emptyFormdata = new FormData();
		            $scope.getTheFile = function ($files) {
		            	//formdata = emptyFormdata;
		            	formdata.delete('uploadedFile');
		               	formdata.append("uploadedFile", $files[0]);
				            //    angular.forEach($files, function (value, key) {
				            //       formdata.append(key, value);                    
				            //   });
		            };

		            $scope.getWebsiteAdded = function() {

			            $scope.clearResponses();
			            var data = $.param({
			                //googleid: userGoogleId,
			                website: $scope.websiteToCreate
			            });	        
			            var config = {
			                headers : {
			                    'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'
			                }
			            };
			            return $http.post('http://localhost:8080/ws/addwebsite', data, config)
				            .success(function (data) {
				                $scope.addWebsitePostDataResponse = data.result;
				            }).error(
				            	function (data, status, header, config) {
					                $scope.addWebsitePostDataResponseDetails = 
					                    "--- status: " + data.status +
					                    "--- error: " + data.error +
					                    "--- message: " + data.message ;
				            	}
				            )
			            ;
		            };

					$scope.addWebsite = function () {

						$scope.getWebsiteAdded().then(function(result){
		   					$scope.getUserWebsites().then(function(result) {
				            	$scope.userHasWebsites();
				            	$scope.userFirstWebsite();
				            	//alert($scope.userHasWebsites());
							});	
						});
 
		        	};

		            $scope.getWebsiteDeleted = function() {

			            $scope.clearResponses();
			            var data = $.param({
			               // googleid: userGoogleId,
			                website: $scope.selectedWebsite
			            });	        
			            var config = {
			                headers : {
			                    'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'
			                }
			            };
			            return $http.post('http://localhost:8080/ws/deletewebsite', data, config)
				            .success(function (data) {
				                $scope.deleteWebsitePostDataResponse = data.result;
				            }).error(
				            	function (data, status, header, config) {
					                $scope.deleteWebsitePostDataResponseDetails = 
					                    "--- status: " + data.status +
					                    "--- error: " + data.error +
					                    "--- message: " + data.message ;
				            	}
				            )
			            ;
		            };

					$scope.deleteWebsite = function () {
						$scope.getWebsiteDeleted().then(function(result){
		   					$scope.getUserWebsites().then(function(result) {
				            	$scope.userHasWebsites();
				            	$scope.userFirstWebsite();
				            	//alert($scope.userHasWebsites());
							});	
						});					
		        	};


		            $scope.getFileUploaded = function () {
					    formdata.append("website", $scope.selectedWebsite);
		                var request = {
		                    method: 'POST',
		                    url: '/ws/upload',
		                    data: formdata,
		                    headers: {
		                        'Content-Type': undefined
		                    }
		                };
		                return $http(request)
		                    .success(
		                    	function (data, status, headers, config) {
			                		$scope.uploadTagPlanPostDataResponse = data.result;
				            }).error(
				            	function (data, status, header, config) {
					                $scope.uploadTagPlanPostDataResponseDetails = 
					                    "--- status: " + data.status +
					                    "--- error: " + data.error +
					                    "--- message: " + data.message ;
				            	}
				            )
			            ;
		            };

		            $scope.uploadFile = function () {
		            	$scope.clearResponses();
		            	$scope.getFileUploaded().then(function(response){
			            	formdata.delete('website');
		            	})
		            };


		        	$scope.datalayer = function () {

		        		$scope.clearResponses();

			            var url = 'http://localhost:8080/datalayer?website='
			            		+$scope.selectedWebsite
			            		+'&page='
			            		+$scope.page ;
			            $http({
					  		method: 'GET',
						  	url: url
						}).then(function successCallback(response) {
						    $scope.datalayerGetDataResponse = response.data;
					  	}, function errorCallback(response) {
					  	});
		        	};

		        	$scope.getPrincipal =function(){

	            		var url = 'http://localhost:8080/ws/principal' ;
			            return $http({
					  		method: 'GET',
						  	url: url
						}).then(function successCallback(response) {
						     userName = response.data.userAuthentication.details.given_name;
						     userSurname = response.data.userAuthentication.details.family_name;
						     userEmail = response.data.userAuthentication.details.email;
						     userPictureUrl = response.data.userAuthentication.details.picture;
					  	}, function errorCallback(response) {
					  	});		        		
		        	};
		        	$scope.getPrincipal().then(function(result){
		        		$scope.updateVariables();
		        	});

		        	/*
					$scope.getCredentials = function () {
						//var url = 'https://www.googleapis.com/plus/v1/people/me';
						var url = 'https://www.googleapis.com/plus/v1/people/'
							+userGoogleId
							//+'?access_token='+seaSurf;
			            return $http({
					  		method: 'GET',
						  	url: url ,
						  	headers: {
              					Authorization: "Bearer " 
              					//+ token
            				 } 
						}).then(function successCallback(response) {
					  	}, function errorCallback(response) {
					  	});
					};		
					//alert(token);				
					$scope.getCredentials();
					*/


			});


					

</script>



<h1>--- My flamZ account ---</h1>

<div>
	<div id="bloc1">
		<img ng-src="{{userPictureUrl}}" height="65">
	</div>
	<div id="bloc2">
		<p><b>{{ userName }} {{ userSurname }}</b>
		<p>{{ userEmail }} <br> flamZ account: {{ userId }}
	</div>
</div>
<p><a href="/"><< Back to home </a> </p><br>


<div class="container" ng-show="userHasWebsites()">
	

	<h2> Manage existing website
	
		<select
	    	ng-model="selectedWebsite"
	    	ng-options="value.id as value.name for value in myWebsites">
	    <!-- <option value="myWebsite" ng-if="false"></option>  -->
		</select>
</h2>
		



	<h3> Upload tag plan</h3>

	<form >
		<input type="file" id="file1" name="uploadedFile" ng-files="getTheFile($files)" required /><br>
	    <input type="button" ng-click="uploadFile()" value="Upload" /> <br>
		{{ uploadTagPlanPostDataResponse }}
		{{ uploadTagPlanPostDataResponseDetails }}
	</form>


	<h3> Unit test </h3>

	<form ng-submit="datalayer()">
		<input type="text" name="page" placeholder="/index.html" ng-model="page" required />
		<input type="submit" value="See dataLayer"><br>
		{{ datalayerGetDataResponse }}
	</form>


	<h3> Delete website</h3>

	<form ng-submit="deleteWebsite()">
		<input type="submit" value="Kill it!"><br>
		{{ deleteWebsitePostDataResponse }}
		{{ deleteWebsitePostDataResponseDetails }}
	</form><br><br>

</div>

<div class="container" ng-show="!userHasWebsites()">
	<p>Hmmm... there is nothing in your account. 
</div>	

<div class="container">

	<h2> Add a website</h2>

	<form ng-submit="addWebsite()">
		New website name: <input type="text" name="newWebsiteName" ng-model="websiteToCreate" placeholder="my-awesome-site.com" required />
		<input type="submit" value="Add it!"><br>
		{{ addWebsitePostDataResponse }}
		{{ addWebsitePostDataResponseDetails }}
	</form><br>

</div>

</body>
</html>


